<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	{% load static from staticfiles %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="{% static '/js/columnChart.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/histogram.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/docIsReady.js' %}"></script>
</head>

<body>
	<fieldset>
		<legend>
			Create a query
		</legend>
		<form method="get">
			<p>
				<label for="#test_suit">Test suit</label>
				<input type="text" id="test_suit" value="content_unittests">
			</p>
			<p>
				<label for="">Tasks limit</label>
				<input type="text" id="tasks_limit" value="1">
			</p>
			<p>
			<p>
				<div id="os_checboxes">
	<!--				 Django template - generate list of checkboxes-->
					{% for key, dict_args in oss.items %}
						<input type="checkbox" id="chb_{{ dict_args.name }}" name="{{dict_args.name}}" {{ dict_args.checked }} {{ dict_args.disabled }}> {{ dict_args.innerHtml }} <br>	
					{% endfor %}
				</div>
			
			<p>
				<button id="btn_submit" name="submit"> Submit </button>
			</p>
		</form>
	 
	</fieldset>


	

	<div id='charts'>		

	</div>
	

</body>

</html>